.bot-container
{
    display: flex;
    justify-content: center;
    width: 100vw;
    max-height: 100vh;
    font-size: large;
    flex-wrap: wrap;
    animation: 1s ease-in-out 0s 1 entry;
}

.bot-menu
{
    background-color: rgb(27,27,27);
    margin: 1em;
    height: fit-content;
    width: fit-content;
    border-radius: 15px;
    padding: 10px;
}

.bot-menu > ul 
{
    margin: 0.5em;
    list-style: none;
}

.bot-menu li
{
    margin: 1em;
    transition: 0.4s ease-in-out;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px;
    color: #48E5C2;
}


.bot-menu li > a
{
    color: #48E5C2;
    transition: 0.4s ease-in-out;
}

.bot-menu li:hover > a
{
    color: black;
}


.bot-menu li:hover
{
    background-color: white;
    color: rgb(22, 21, 21);
    transform: scale(1.1);
}

.bot-main
{
    /* background-color: #40434E; */
    background-color: rgb(22, 21, 21);
    width: 60vw;
    margin: 1em;
    min-height: 50vh;
    height: fit-content;
    max-height: 90vh;
    overflow: auto;
    border-radius: 15px;
    padding: 10px 1em 10px 1em;
    display: none;
}

.main-item
{
    padding: 10px;
    margin: 1em;
    border-bottom: 2px solid rgb(37, 37, 37);
    border-radius: 5px;
}

.item-command
{
    margin-bottom: 1em;
    color: #0CAADC;
    font-weight: bolder;
}

::selection 
{
    background-color: whitesmoke;
}

.item-command::selection
{
    /* color: black; */
    background-color: white !important;
}

.item-description
{

}

.bot-menu-mobile
{
    display: none;
    position: fixed;
    width: 100%;
    background-color: #48E5C2;
    color: white;
    overflow: hidden;
    height: 1.5em;
    padding: 20px 0px 20px 0px;
    margin-top: 0px;
    z-index: 999;
    transition: 0.4s ease-in-out;
}

.bot-menu-mobile ul
{
    margin: 2.5em;
    list-style: none;
    padding: 0px;
}

.bot-menu-mobile li
{
    margin: 10px;
}

.bot-menu-mobile .collapser
{
    position: absolute;
    right: 10px;
    cursor: pointer;
    font-size: 1.5em;
}

.picture-box
{
    margin: 1em;
}

.picture-box-img
{
    width: 500px;
    border-radius: 20px;
}

@media screen and (max-width: 1024px)
{
    .bot-container
    {
        margin-top: 0em;
    }

    .bot-menu
    {
        margin-right: 0px;
        font-size: 0.7rem;
    }

    .bot-main
    {
        font-size: medium;
    }
}

@media screen and (max-width: 1000px)
{
    .bot-container
    {
        flex-direction: column;
        align-items: center;
        justify-content: start;
        padding-top: 4em;
    }

    .bot-main
    {
        font-size: 0.8rem;
        width: 80vw;
        max-height: 80vh;
    }

    .bot-menu
    {
        margin-right: 0px;
        display: none;
    }

    .bot-menu-mobile li
    {
        font-size: 1.5rem;
    }

    .bot-menu-mobile
    {
        top: 0px;
        display: block;
        animation: 1s ease-in-out 0s 1 entry;
    }

    .picture-box
    {
        text-align: center;
    }
}

@keyframes entry {
    0%
    {
        opacity: 0;
    }

    100%
    {
        opacity: 1;
    }
}