@use "../../styles/theme" as theme;

.homepage-container {
  width: 100%;
  height: 100%;

  .intro {
    width: 100%;
    height: 100vh;
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    background: linear-gradient(
      theme.$swamp,
      theme.$swamp-lighter,
      theme.$orange
    );

    .avatar {
      height: 300px;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 100%;
        height: 100%;
        border-radius: 100%;
        border: 2px solid theme.$accent;
        box-shadow: 0 5px 10px theme.$accent;
      }
    }

    .buttons-container {
      max-width: 300px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;

      .button {
        margin: 1em;
        font-size: larger;
        width: 40%;
        min-width: 120px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        z-index: 10;

        svg {
          margin-right: 0.5em;
        }
      }
    }

    .spacer-intro {
      position: absolute;
      left: 0;
      bottom: 0;
      aspect-ratio: 960/300;
      width: 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;

    .content-container {
      width: 700px;
      padding: 2em;
    }
  }

  .whoami {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .title {
      h1 {
        font-size: 4rem;
      }
    }

    .text {
      font-size: 1.3rem;
      text-align: center;
    }
  }

  .skills-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 2em;

    .title {
      margin-right: 3rem;

      h1 {
        font-size: 4rem;
        width: 20%;
      }
    }

    .skills {
      display: flex;
      align-items: center;
      flex-direction: column;
      min-width: 80%;
      width: 80%;

      .item {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        min-width: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        margin-bottom: 0.5em;

        .text {
          width: 30%;
          margin-right: 0.5em;
          font-size: 1.5rem;
          font-weight: bold;
        }

        .bar {
          height: 20px;
          width: 300px;
          background-color: theme.$swamp-lighter;
          border-radius: 3px;

          .progress {
            height: 100%;
            background-color: theme.$maron;
            border-radius: 3px;

            &::after {
              content: ".";
              visibility: hidden;
            }
          }
        }
      }
    }
  }

  .projects {
    width: 90vw;
    margin-bottom: 4em;
    max-width: 1200px;

    .title {
      text-align: center;
      h1 {
        font-size: 4rem;
      }
    }

    .projects-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      width: 100%;

      .item {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 300px;
        height: 220px;
        margin: 1.5em;
        border-radius: 10px;
        transition: 200ms ease-in-out;

        &:hover {
          transform: scale(1.1);
        }

        .icon {
          position: absolute;
          top: -20px;
          left: 50%;
          transform: translate(-50%);
          width: 100px;
          height: 100px;
          z-index: 100;

          display: grid;
          place-items: center;
          border-radius: 100%;
          overflow: hidden;

          img {
            // height: 100%;
            width: 100%;
          }
        }

        .background {
          min-height: 70px;
          border-radius: 8px 8px 0 0;

          background: linear-gradient(theme.$swamp, theme.$maron);
        }

        .title {
          height: 40px;
          padding: 5px;
          background-color: theme.$swamp-lighter;
          z-index: 110;
          color: theme.$ghost-white;
          h2 {
            margin: 0;
          }
        }

        .description {
          display: flex;
          align-items: center;
          background-color: theme.$swamp-lighter;
          text-align: center;
          padding: 10px;
          overflow: hidden;
          text-overflow: ellipsis;
          width: 100%;
          height: 100%;
          z-index: 110;
          border-radius: 0 0 8px 8px;
        }
      }
    }
  }

  .footer {
    position: relative;
    width: 100%;
    text-align: center;
    min-height: 400px;
    display: grid;
    place-items: center;
    background-color: #001220;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23D18'/%3E%3Cstop offset='1' stop-color='%23001220'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23FA3' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23FA3' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.3'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;

    .content {
      z-index: 999;
    }
  }

  .spacer-ver1 {
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .spacer-ver2 {
    position: absolute;
    top: 0;
    left: 0;
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

@media screen and (max-width: 900px) {
  .homepage-container {
    section {
      .content-container {
        width: 95%;
      }
    }
    .skills-container {
      align-content: center;
      justify-content: center;
      flex-direction: column;
      width: 100%;

      .title {
        margin: 0;
        h1 {
          text-align: center;
          width: 100%;
        }
      }

      .skills {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 540px) {
  .homepage-container {
    .skills-container {
      .skills {
        .item {
          .bar {
            width: 200px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 420px) {
  .homepage-container {
    .skills-container {
      .skills {
        .item {
          .text {
            font-size: 1rem;
          }
          .bar {
            width: 100px;
          }
        }
      }
    }
  }
}
