@use "./styles/theme" as theme;

.maron {
  background-color: theme.$maron;
}

.swamp {
  background-color: theme.$swamp;
}

a,
a:hover,
a:link,
a:visited,
a:active {
  text-decoration: none;
  color: white;
}
