@use "./styles/theme" as theme;
@use "./styles/sizes" as sizes;

.maron {
  background-color: theme.$maron;
}

.swamp {
  background-color: theme.$swamp;
}

a,
a:hover,
a:link,
a:visited,
a:active {
  text-decoration: none;
  color: white;
}

::selection {
  background: theme.$port;
}

::-moz-selection {
  background: theme.$port;
}

.cursor {
  width: 20px;
  height: 20px;
  border: 2px solid theme.$maron;
  border-radius: 50%;
  z-index: 9999;
  position: absolute;
  // transition-duration: 200ms;
  transition-timing-function: ease-out;
  animation: cursorAnim .5s infinite alternate;
  pointer-events: none;
}

.cursor::after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  border: 8px solid theme.$medium-spring-green;
  border-radius: 50%;
  opacity: .5;
  top: -8px;
  left: -8px;
  animation: cursorAnim2 .8s infinite alternate;
}

@keyframes cursorAnim {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(.7);
  }
}

@keyframes cursorAnim2 {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(.4);
  }
}

@keyframes cursorAnim3 {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(3);
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.expand {
  animation: cursorAnim3 .5s forwards;
  border: 1px solid theme.$maron;
}

@media screen and (max-width: sizes.$small-width-device) {}