// main theme
$bittersweet: #fa7268;
$mandy: #eb5967;
$pictorial-carmine: #ca054d;
$cabaret: #da3f67;
$maron: #c62368;
$port: #262853;
$plum: #742d71;
$swamp-lighter: #051929;
$swamp: #001220;
$dark-eerie: #000C14;

// addictional styles
$eerie-black: #171718;
$medium-spring-green: #00fa9a;
$msg: $medium-spring-green;
$ghost-white: #f6f8ff;
$blue-munsell: #2d93ad;

// functional
$accent: $maron;
$thirdPlan: $eerie-black;
$background: $swamp;