@use "../../../styles/theme" as theme;
@use "../../../styles/sizes" as sizes;

.project-card {
	width: 300px;
	height: 500px;
	display: flex;
	flex-direction: column;
	transition: 300ms;
	cursor: pointer;
	box-shadow: 0 10px 15px -3px theme.$dark-eerie;
	border-radius: 15px;

	&:hover {
		transform: scale(1.05);
		box-shadow: 0 5px 15px -3px theme.$cabaret;
	}

	.top-magic {
		flex: 2;
		position: relative;
		box-shadow: 0 0 50px 15px #001220 inset;
		border-radius: 40%;

		.icon-container {
			width: 100%;
			height: 100%;
			backdrop-filter: blur(0.7px);

			.icon {
				z-index: 10;
				width: 128px;
				height: 128px;
				border-radius: 100%;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				overflow: hidden;
				display: flex;
				align-items: center;
				justify-content: center;

				img {
					width: 100%;
					height: 100%;
				}

				.react-icon {
					width: 80%;
					height: 80%;
					color: theme.$maron;
				}
			}
		}
	}

	.title {
		z-index: 20;
		flex: 1;
		border-radius: 15px 15px 0 0;
		background-color: theme.$swamp-lighter;
		font-size: 30px;
		font-weight: bolder;
		letter-spacing: 2px;
		color: theme.$maron;
		display: grid;
		place-items: center;
	}

	.content {
		flex: 6;
		background-color: theme.$swamp-lighter;
		border-radius: 0 0 15px 15px;
		position: relative;
		overflow: hidden;

		.text {
			padding: 10px 20px;
			text-align: center;
			z-index: 20;
			position: relative;
			font-size: x-large;
			overflow-y: auto;
			max-height: 100%;

			&::-webkit-scrollbar {
				width: 8px;
			}

			&::-webkit-scrollbar-track {
				background: rgba(theme.$swamp, 0.3);
				border-radius: 10px;
			}

			&::-webkit-scrollbar-thumb {
				background: theme.$maron;
				border-radius: 10px;

				&:hover {
					background: lighten(theme.$maron, 10%);
				}
			}
		}

		.content-wave {
			position: absolute;
			left: 0;
			bottom: 0;
			aspect-ratio: 30/30;
			width: 100%;
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			z-index: 10;
		}
	}
}

.plus-bg {
	background-color: #001220 !important;
	background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23e0125d' fill-opacity='0.52'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
