$eerie-black: #171718;
$medium-spring-green: #00fa9a;
$pictorial-carmine: #ca054d;
$ghost-white: #f6f8ff;
$blue-munsell: #2d93ad;
$orange: #fa7268;
$maron: #c62368;
$swamp: #001220;
$swamp-lighter: #051929;

$accent: $maron;
$thirdPlan: $eerie-black;
$background: $swamp;
